.category_block{
    background-color: #857c8a !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
    background-position-x: 100px;
}