.wizard-content .flex-column-reverse div.d-flex {
  flex-direction: row;
  flex-wrap: wrap;
}

.user-add-item .property-step-contact__time .dropdown.bootstrap-select{
  width: 100% !important;
  margin-left: 0;
}

.map-error-message {
  text-align: center;
  color: red;
  margin-bottom: 15px;
}

.user-add-item ._dropdown-block .dropdown.bootstrap-select{
  width: 100% !important;
  margin: 0;
}

.user-add-item .property-step-contact__time .form_radio_btn label{
  margin-left: 0;
  width: 100%;
}

.user-add-item ._radio-btn .form_radio_btn label{
  margin: 0;
  width: 100%;
}

.user-add-item ._radio-btn .form_radio_btn{
 flex-grow: 1;
}

.user-add-item ._radio-btn .form_radio_btn label{
  margin: 0;
}

.user-add-item ._radio-btn .div-req{
  gap: 10px;
}

.wizard-content .div-req:not(.wrapper-brand-items){
  gap: 10px;
}

body #mainForm .wizard-content .wrapper-model-items{
  gap: unset;
}

.wizard-content .form_radio_btn{
  margin: 0 !important;
}

.user-add-item .dependens-dropdon{
  width: 100%;
  gap: 10px;
}

.dependens-dropdon-block.dependens-dropdon-after{
  flex-grow: 1;
}

.dependens-dropdon-block.dependens-dropdon-after button{
  width: 100% !important;
  min-width: initial;
  max-width: initial;
  margin: 0;
}

.gap-1{
  gap: 10px;
}

.auto-ad-step3 .dropdown{
  margin: 0 !important;
  padding-right: 0!important;
}

.auto-ad-step3 textarea{
  margin-right: 0!important;
}

.auto-ad-step3 .additional > div{
  gap: 10px;
}

.auto-ad-step2-3 .body-type-car .form_radio_btn label,
.auto-ad-step2-3 .body-type-car .show-more-types{
  width: 100% !important;
}

._car__item{
  width: calc(50% - 5px);
}

@media (max-width: 768px){

  .__colum-reverse{
    flex-direction: column-reverse;
  }

  .__colum-reverse .col-2{
    max-width: 100%;
    text-align: right;
  }

  .__colum-reverse .fl-right{
    float: initial !important;
  }
  .__colum-reverse .d-lg-flex{
    display: flex;
    flex-wrap: wrap;
    gap: 10px 5px;
  }

  .__colum-reverse .d-lg-flex .custom-select{
    margin-right: 0;
  }

  .__colum-reverse .d-lg-block{
    margin-bottom: 10px;
  }

  .auto-ad-step2-3 .__colum-reverse .form_radio_btn label{
    padding: 0 10px !important;
  }

  .__colum-reverse .form_radio_btn{
    margin: 0 0 0.5rem 0 !important;
  }

  .dependens-dropdon button{
    width: 157px !important;
  }

  ._mobile-g{
    flex-grow: 1;
  }

  .row-select-time ._mobile-g {
    flex-grow: 1 !important;
  }

  ._car__item .auto-ad-step2-3 .form_radio_btn label{
   height: 120px !important;
  }

  .dropdown-item {
    white-space: inherit !important;
  }

  body .wizard-content .bootstrap-select .dropdown-menu li a span.text {
    display: block;
  }

  body div[data-wizard-content="4"] .additional {
    width: 100%;
  }
}

@media (min-width: 790px) {
  .auto-step2 .row.m_15{
    margin: 0 -15px;
  }

  #callContainer {
    justify-content: start !important;
  }
}