div.additional-prop-label {
    margin-top: 1rem;
}

body form .card-header.disabled {
    background-color: #d5d5d5 !important;
    transition: background-color 500ms ease;
}

span.checkmark.disabled {
    background-color: #d5d5d5;
}

.card-body .chackbox-label div.box.disabled {
    background-color: #d5d5d5;
}

.parameter div.box.disabled {
    background-color: #d5d5d5;
}

.date-container-mobile {
    justify-content: flex-end;
}

.immediately-entry-box {
    margin-top: 15px;
}

.date-input {
    margin-top: 5px;
}