/* region Select */
.smart-filter-input-group-dropdown {
	display: block;
	height: 31px;
	border: 1px solid #ccd5db;
	border-radius: 3px;
}

.smart-filter-input-group-dropdown.bx-active,
.smart-filter-input-group-dropdown:focus { border-color: var(--primary); }

.smart-filter-dropdown-block {
	position: relative;
	display: block;
	margin: 0;
	padding: 0 29px 0 10px;
	width: 100%;
	height: 29px;
	border: none;
	border-radius: 2px;
	background: #fff;
}

.smart-filter-dropdown-text {
	overflow: hidden;
	max-width: 100%;
	height: 29px;
	vertical-align: middle;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 29px;
	cursor: pointer;
}

.smart-filter-dropdown-text.fix { min-width: 120px; }

.smart-filter-dropdown-text label { cursor: pointer; }

.smart-filter-dropdown-arrow {
	position: absolute;
	top: 0;
	right: 0;
	width: 29px;
	height: 29px;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAECAYAAABCxiV9AAAAG0lEQVQY02OYOXPmf1yYAQRwSsAATglkBch8ADy7LKHqFrgoAAAAAElFTkSuQmCC') no-repeat center;
	cursor: pointer;
}

.smart-filter-input-group-dropdown-flex {
	display: flex;
	align-items: center;
}

.smart-filter-input-group-dropdown-flex .smart-filter-checkbox-btn-image {
	margin-right: 5px;
}

/*
*	Select popup
*
*/

.smart-filter-dropdown-popup {
	padding: 0;
	min-width: 173px;
	background: #fff;
}

.smart-filter-dropdown-popup ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.smart-filter-dropdown-popup ul li {
	display: block;
	vertical-align: middle;
}

ul li.selected label{
	color: #33e56d !important;
}

.smart-filter-dropdown-popup ul li:first-child {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #f3f3f3;
}

.smart-filter-dropdown-popup ul li label {
	display: flex;
	align-items: center;
	overflow: hidden;
	width: 100%;
	color: #575757;
	white-space: nowrap;
	cursor: pointer;
}

div.popup-window {
	padding-bottom: 0 !important;
}

ul#smartFilterChoiceNew {
	margin-bottom: 0;
}

@media (max-width: 749.98px) {
	form.smart-filter-form div.price-block:first-of-type {
		margin-top: 40px !important;
	}

	div#moreFilterSettings {
		display: block !important;
	}

	div.filter-brands-list {
		margin-top: 35px;
	}

	div.popup-window {
		max-width: 230px;
		width: 230px;
	}

	.smart-filter-dropdown-popup ul li label.smart-filter-choice {
		max-width: 230px;
	}
}
